{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Clarividencia</h2>
            <p class="lead mb-0">
                        <ul class="list-unstyled">
                        <li><i>La numerología</i></li>
                        </ul>
            </p>
		  <hr>
		  <p></p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h1>CLARIVIDENCIA</h1>
      	<h3>LA NUMEROLOGÍA</h3>
        <p align="justify">
          Triunfar profesionalmente y sentimentalmente por un mejor reconocimiento  de uno mismo y de su destino.
        </p>
        <p align="justify">
          Desde la eternidad, el hombre ha estado siempre en búsqueda de la verdad, pero no ha sabido nunca la aceptar cuando se le manifestaba. Todos los grandes mensajes han sido modificados. 
          Los números pueden representar una reducción  de la palabra y el sentido oculto de las cosas... 
        </p>
        <p align="justify">
          Los números y el conocimiento de su significado simbólico son sin embargo indispensable para guiar vuestro camino.   
        </p>
        <p align="justify">
        ¿A pesar de que la ciencia avanza que conocimientos tenemos de los ciclos físicos de nuestra galaxia? 
        </p>
        <p align="justify">
        ¿Que sabemos de nuestros propios ciclos biológicos existenciales?
        La naturaleza es sabia e inteligente, conoce sus ritmos esta codificada  por la ley de los ciclos. Existen los mismos para los seres vivos.
        </p>

        <p align="justify">
        La numerología ciencia milenaria  de números y de ciclos (dicha numerología contiene nueve números). Nos informa sobre nuestros números existenciales.
        </p>
        <p align="justify">
        La numerología es un método, que propone estudiar en profundidad, cada personalidad y nos permite de gestionar nuestra vida con el fin de situarnos con más  precisión en relación a nuestro entorno.
        Desde el antiguo Egipto, la  leemos igualmente a Kabbalah así como a Pitágoras.
        </p>
        <p align="justify">
        La numerología  es una herramienta por excelencia que nos ayuda a responder científicamente y con intuición a las preguntas fundamentales que nos planteamos a lo largo de nuestra vida. En cuanto a nuestra identidad, nuestra historia, y nuestro futuro potencial. Los números y sus mensajes nos empujan a salir de nuestra pasividad interior.
        </p>
        <p align="justify">
        En función de nuestra evolución podemos hacer de guías.
        </p>
        <p align="justify">
        La numerología fue muchas veces utilizada en los entornos de los sabios  caballistas
        </p>
        <p align="justify">.
        Según  Pitágoras  los números son la esencia de las cosas, los números despiertan nuestra conciencia.
        Hoy en día los   esotéricos descifran, cada uno con su cuadrilla, una infinidad de mensajes, sacan significaciones en relación con el hombre y el universo.
        </p>
        <p align="justify">
        De nuestro equilibrio físico, afectivo, intelectual, espiritual depende nuestra armonía interior así como la del Mundo Exterior.
        </p>

      </div>
  	</div>
</section>


{% endblock %}