{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg'); background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Horóscopo-Astrológica</h2>
          <p class="lead mb-0">
          	<ul class="list-unstyled">
          		<li><i>Los Decanatos</i></li>
          		<li><i>Calcula tu Decanato</i></li>
          		<li><i>Pequeña Guía Astrológica</i></li>
			</ul>
		  </p>
		  <hr>
		  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h1>LOS DECANATOS</h1>
      	<p>
      		<h3>
      			¿Es usted del  1, 2  o 3 decanato?
      		</h3>
      		<b>El decanato en la astrología ¿Qué es un  decanato exactamente?</b>
      		<p align="justify">
      			Esta palabra proviene del latín decas y  significa “período de diez días”. En astrología, cada signo del zodíaco tiene una duración de 30 días.
      		</p>
      		<br>
      		<p align="justify">
      			<b>Definicion</b> los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días.
      		</p>
      		<br>
      		<p align="justify">
      			<b>El decanato</b> se calcula a partir de la exacta posición del sol en el día del nacimiento de la persona. La posición del sol a medianoche está indicada en las efemérides. También, cada decanato tiene un planeta asociado, les ofrecemos la libertad de descubrirla en nuestra rubrica “pequeña guía astrológica”.
      		</p>
      		<p align="justify">
      			A saber…
    				Una persona nacida, por ejemplo, en el primero decanato de un determinado mes, no sufre la misma influencia ni recibe los mismos eventos que otra nacida en el segundo decanato, a pesar de que ambas sean del mismo signo zodiacal. 
    				En el horóscopo diario, no es nada raro oír las predicciones de los decanatos para reforzar las previsiones astrológicas.
    				Sepan también que la utilización de los decanatos aporta un complemento al signo solar.
      		</p>
          <br>

          <table class="table table-hover" align="center" border="1px solid #cecece;" width="400">
            <thead class="thead-light">
              <tr>
                <th>SIGNOS</th>
                <th>DECANATO</th>
                <th>PLANETAS</th>
                <th>INFLUENCIAS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="3">Aries</td>
                <td>1</td>
                <td>PLUTÓN</td>
                <td>Determinación</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>SOL</td>
                <td>ambición</td>

              </tr>
              <tr>
                <td>3</td>
                <td>VENUS</td>
                <td>ENCANTO</td>
              </tr>
              <tr>
                <td rowspan="3">Tauro</td>
                <td>1</td>
                <td>MERCURIO</td>
                <td>Inteligencia</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>LUNA</td>
                <td>Sensualidad</td>

              </tr>
              <tr>
                <td>3</td>
                <td>SATURNO</td>
                <td>Minuciosidad</td>
              </tr>
              <tr>
                <td rowspan="3">GEMINIS</td>
                <td>1</td>
                <td>NEPTUNO</td>
                <td>Inspiración</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>MARTE</td>
                <td>Energía</td>
              </tr>
              <tr>
                <td>3</td>
                <td>SOL</td>
                <td>Ambición</td>
              </tr>
              <tr>
                <td rowspan="3">CANCER</td>
                <td>1</td>
                <td>VENUS</td>
                <td>Encanto</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>MERCURIO</td>
                <td>Inteligencia</td>
              </tr>
              <tr>
                <td>3</td>
                <td>LUNA</td>
                <td>Intuición</td>
              </tr>
              <tr>
                <td rowspan="3">LEO</td>
                <td>1</td>
                <td>SATURNO</td>
                <td>Previsión</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>JUPITER</td>
                <td>Fama</td>
              </tr>
              <tr>
                <td>3</td>
                <td>PLUTON</td>
                <td>Lucidez</td>
              </tr>
              <tr>
                <td rowspan="3">VIRGO</td>
                <td>1</td>
                <td>SUN</td>
                <td>Ambición</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>VENUS</td>
                <td>Sensualidad</td>
              </tr>
              <tr>
                <td>3</td>
                <td>MERCURY</td>
                <td>Inteligencia</td>
              </tr>
              <tr>
                <td rowspan="3">LIBRA</td>
                <td>1</td>
                <td>LUNA</td>
                <td>Intuición</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>SATURNO</td>
                <td>Perseverancia</td>
              </tr>
              <tr>
                <td>3</td>
                <td>JUPITER</td>
                <td>Popularidad</td>
              </tr>
              <tr>
                <td rowspan="3">ESCORPIO</td>
                <td>1</td>
                <td>MARTE</td>
                <td>Espíritu de lucha</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>URANO</td>
                <td>Creatividad</td>
              </tr>
              <tr>
                <td>3</td>
                <td>VENUS</td>
                <td>Sexualidad</td>
              </tr>
              <tr>
                <td rowspan="3">SAGITARIO</td>
                <td>1</td>
                <td>MERCURIO</td>
                <td>Educativo</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>LUNA</td>
                <td>Intuición</td>
              </tr>
              <tr>
                <td>3</td>
                <td>SATURNO</td>
                <td>Minuciosidad</td>
              </tr>
              <tr>
                <td rowspan="3">CAPRICORNIO</td>
                <td>1</td>
                <td>JUPITER</td>
                <td>Optimismo</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>MARTE</td>
                <td>Dinamismo</td>
              </tr>
              <tr>
                <td>3</td>
                <td>URANO</td>
                <td>Creatividad</td>
              </tr>
              <tr>
                <td rowspan="3">ACUARIO</td>
                <td>1</td>
                <td>VENUS</td>
                <td>Sensualidad</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>MERCURiO</td>
                <td>Inteligencia</td>
              </tr>
              <tr>
                <td>3</td>
                <td>NEPTUNO</td>
                <td>Psicológico</td>
              </tr>
              <tr>
                <td rowspan="3">PISCIS</td>
                <td>1</td>
                <td>SATURNO</td>
                <td>Exactitud</td>
                
              </tr>
              <tr>
                <td>2</td>
                <td>JUPITER</td>
                <td>Espiritualidad</td>
              </tr>
              <tr>
                <td>3</td>
                <td>MARTE</td>
                <td>Dinamismo</td>
              </tr>
            </tbody>
          </table>
      	</p>
      </div>
  	</div>
</section>


{% endblock %}