{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}


{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row">
      <div class="col-lg-10 col-sm-12">
        <h1 style="text-align: center;">El Desafio</h1>
        <div class="row">
            <img src="{{ asset('img/Desafio.jpg') }}" height="100%" width="100%" alt="El Desafio">

        </div>
      </div>
  	</div>
    <div class="row">
        <div class="col text-center">
            <a download="El Desafio.jpg" href="{{ asset('img/Desafio.jpg') }}" title="La Carretilla">
                <div class="btn btn-primary"><h2>Descargar</h2></div>
            </a>
        </div>
    </div>
    <br>

</section>


{% endblock %}