{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-6.jpg'); background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>En Forma</h2>
                        <p class="lead mb-0">
                                    <ul class="list-unstyled">
                                    <li><i>La meditación</i></li>
                                    <li><i>La relajación</i></li>
                                    </ul>
                        </p>
                        <hr>
                              <p class="lead mb-0">Después de búsquedas efectuadas en 50 países diferentes alrededor de la tierra resulta que  la meditación mejora la inteligencia, la creatividad, la percepción, el sentido del orden</p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h3>LA MEDITACIÓN</h3>
		<p align="justify">
			Después de búsquedas efectuadas en 50 países diferentes alrededor de la tierra resulta que  la meditación mejora la inteligencia, la creatividad, la percepción, el sentido del orden.  Reduce el estrés, la hipertensión, la ansiedad la consumición de medicamentos; ha revertido el proceso de envejecimiento, transforme la respiración, favorece la relajación profunda, incrementa la productividad, pone de buen humor y da confianza en sí mismo. Haciendo parte integrante del modo de vida  ayurvédica, la meditación procura la buena salud a todos los niveles, sin olvidar el aspecto espiritual.
		</p>
            
            <p align="justify">
               La meditación no se centra en el alcance de un objetivo particular (tal como un relajante muscular por ejemplo), pero corresponde a un modo de ser abierto a la experiencia del momento, cualquiera que sea, sin buscar  modificarla.
            </p>
            <p align="justify">
            Sin embargo, las técnicas de meditación tienden a transformar el espíritu, sin que sea necesario de practicarlas en un ámbito religioso.
            </p>
            <p align="justify">
            Es una técnica que permite  cultivar y desarrollar algunas cualidades humanas fundamentales.
            </p>
            <p align="justify">
                  Algunas técnicas de meditación y consejos simples para aprender a meditar:
                  Los 4 tipos de meditación las más corrientes son: <b><i>la meditación vipassana, la meditación transcendental, la meditación Zen y la meditación en plena conciencia.</i></b>
            </p>
            
            <p align="justify">
                  La meditación es  nuestra natura intrínseca – es usted, es de nuestro ser, no tiene nada que ver con nuestras acciones.
                  El vacío mental constituye  no tener pensamientos que trastornan la mente.
                  Al principio es difícil  no pensar más a nada, pero con el entrenamiento, usted lo conseguirá.
            </p>
            <p align="justify">
            Así que, el comienzo de la meditación es el conocimiento de sí mismo, lo que significa ser consciente de cada movimiento del pensamiento y de la emoción, conocer todas las capas de mi conciencia, no solamente las capas superficiales, pero las actividades escondidas, secretas, profundas. Pero para conocer las actividades profundamente escondidas, los móviles secretos, las respuestas, los pensamientos y los sentimientos, hay que tener tranquilidad en el espíritu consciente; es decir que el espíritu consciente debe ser inmóviles con el fin de recibir las proyecciones del inconsciente. 
            </p>
            <p align="justify">
            La mente superficial, consciente, es absorbida por sus actividades diarias: ganar dinero, engañar a la gente explotar, evadirse de los problemas-todas las actividades diarias de nuestra existencia. Esta mente superficial debe comprender la verdadera significación de sus actividades, y esto haciendo introducir una tranquilidad en el mismo. No puede provocar una tranquilidad, una inmovilidad, por un registro, por una presión sus propias actividades, observándolas, siendo consciente, viendo su dureza.
            </p>
            <br>
            
            <p align="justify">
                Aquí están dos métodos simples propuestas por Krishnamurti en su libro« Respuestas sobre la educación » para facilitar la iniciación a la meditación. Simplemente observando sus propis pensamientos...
            </p>
            <p align="justify">
               1. Para aprender a meditar, empiece por observar cómo funciona nuestro espíritu, nuestra mente.
            Instalase usted en una postura de meditación, una postura cómoda para usted. Cierre los ojos y observarles. ¿Puede usted mantenerles fijos? La inmovilidad de los ojos es importante durante la meditación. Mantiene nuestros ojos completamente inmóviles.
            Después observa nuestros pensamientos, sin lazos emocionales, su manera de pasar del uno al otro. Observa lo que usted piensa de sus pensamientos, pero no interviene, no retiene ningún pensamientos, dejarles pasar.
            Observa simplemente, no corrige nada…deja ir y entrar en la meditación. 
            Haga este ejercicio en el momento de acostarse, durante sus paseos…y podrá entrar en el comienzo de la meditación.
            </p>

            <p align="justify">     
            2.  Tome una posición sentada y  tranquila, relájese.
            Luego mire la naturaleza  a su alrededor, mire los árboles, las flores, el mar, una colina…según el lugar donde se encuentra usted.
            Observe los colores, las formas, las sombras…mire con sus ojos, no piense, observe simplemente.
            Después de haber bien observado el exterior, usted se va hacia el interior…cierre los ojos, como usted ha observado lo que se pasaba en el exterior, observe ahora lo que se pasa en su interior.
            Ne piense, observa  simplemente. Aquí también guarde los ojos inmovible, ¡no tiene nada más para mirar!  Usted ha mirado todo lo que le rodeaba exteriormente, ahora, ve usted lo que pasa en su mente. Keep cool…
            A medida que estas prácticas pasan, usted se pondrá más sensibles, presentes  con todas las cosas en usted mismo y a su alrededor.
            Los requisitos previos: El deseo y la decisión
            Para aprender a meditar, hay decidir de hacerlo antes de todo. Elije un tiempo y un lugar de distracción. Reserve por lo menos  45 minutes a la práctica de esta disciplina cada día.
            </p>

            <h3>Los beneficios de la meditación:</h3>
            <p align="justify">
            Cuando la meditación está bien hecha, se empieza a sentir los primeros beneficios a partir de las 2 o 3 primeras semanas. Una transformación interna más profunda se opera a partir de algunos meses de práctica. Los beneficios obtenidos de una práctica regular de la meditación son numerosos y han sido aprobados por miles de estudios científicos a lo largo de los siglos.
            Según un estudio publicado en la revista Frontiers in Psychology, la meditación tendría reales bondades sobre nuestro cerebro.
            Meditar no se aprende leyendo pero practicando.
            « Durante la sesión, es preferible de llevar prendas amplias, no muy apretadas a la talla y en las caderas ».
            Aprender a respirar: la base de la meditación
            </p>
            <br>
            <h3>Practica por una respiración completa</h3>
            <p align="justify">
                  <ul>
                        <li>En posición tumbada boca arriba</li>
                        <li>Ponga una mano en su abdomen, la otra encima de su  pecho. </li>
                        <li>El nivel inferior o  abdominal</li>
                        <li>El nivel medio o torácico</li>
                        <li>El nivel superior o escapular.</li>
                        <li>Luego inspira por la nariz llenando primero el abdomen que debe, tal una pelota hinchable, venir a empujar vuestra mano. Cuando su barriga esté totalmente llena, continúe a inspirar otra vez aire manteniendo la barriga "salida", con el fin de llegar su pecho. Luego, libere vuestros hombros y lléneles de aire también.</li>
                        <li>Intente de retenerlo algunos instantes</li>
                        <li>Después expire lentamente manteniendo lo más prolongado posible su barriga llena.</li>
                        <li>Usted vaciara primero los hombros, posteriormente el pecho y por fin el abdomen.</li>
                  </ul>
            </p>
            <br>
            <p align="justify">
            <i>Desde los tiempos más remotos, los maestros espirituales de todas las tradiciones han indicado el Ahora como la llave de la dimensión espiritual.</i>
            <b><i>Eckhart Tolle</i></b>
            </p>

            
      
            </div>
  	</div>
</section>


{% endblock %}