{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-4.jpg'); background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Amor y Sexo</h2>
            <p class="lead mb-0">
                        <ul class="list-unstyled">
                        <li><i>El Punto G</i></li>
                        <li><i>Kamasutra</i></li>
                        <li><i>El Papel de la Mujer</i></li>
                        <li><i>Besos (Tipos de Besos)</i></li>
                        <li><i>Las posiciones</i></li>
                        <li><i>Sexo Tántrico</i></li>
                        </ul>
            </p>
		  <hr>
		  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h3>EL KAMASUTRA</h3>
            <br>
            <h3>Historia</h3>
            <p align="justify">
                  El Kama Sutra viene de la palabra sánscrita "kama" que significa deseo (también el nombre del dios del amor, equivalente a Eros o Cupido) y la palabra "sutra" que se traducen como siendo un aforismo de deseo. Kama Sutra refiere a un libro indio escrito entre el siglo IV y el siglo VII y atribuido a Vatsyayana. El autor reunió en un solo resumen los trabajos anteriores sobre el Kama y los puso todos en un solo libro. El autor consideró que este era un tema que parecía esencial para el placer y el desarrollo humanos. 
            </p>
            <p align="justify">
                  La colección se ilustra con miniaturas; ofrece consejos de seducción para que una pareja en una relación pueda tener una vida armoniosa, en particular a través de la práctica de diferentes posiciones sexuales. Contrariamente a una creencia generalizada en Occidente, el contenido del Kama Sutra no se limita simplemente a posiciones eróticas; se ocupa principalmente del matrimonio así como también de las relaciones entre hombres y mujeres fuera del mismo.
            </p>
            <p align="justify">
                  El Kama consiste en el amor sensual y las emociones asociadas con los relacionamiento en general. En la antigua creencia india, el Kama era visto como el estimulante de las acciones, y era personificado por el dios del amor erótico. Se refiere a los placeres sensuales del oído, del olfato, de la vista, del gusto y del tacto y también de los placeres que pueden ser obtenidos por la mente y por el alma. La sensación de placer derivada de la experiencia de los sentidos se asocia con el Kama.
            </p>
            <p align="justify">
                  Originalmente el Kama Sutra estaba destinado principalmente a la aristocracia india. El libro sin embargo también da consejos para mujeres y parejas en general e indica que los hombres no están restringidos a las relaciones sexuales solamente; los hombres son introducidos a los misterios de los besos, de las caricias, de las mordidillas y pequeños arañones con el objetivo de provocar el deseo en la mujer.
            </p>
            <p align="justify">
                  La primera versión occidentalizada del Kama Sutra apareció apenas en 1883 y fue traducida por el lingüista inglés Richard Burton, quien no solo tradujo sino que adaptó el lenguaje y las frases a nuestra cultura.
            </p>
            <p align="justify">
                  En Occidente Sutra y Tantra por veces se confunden entre sí. Ahora bien, aunque el Kama Sutra no está completamente libre de espiritualidad, esta colección de consejos prácticos no tiene la misma dimensión espiritual que el Tantra.
            </p>
      </div>
  	</div>
</section>


{% endblock %}