{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-4.jpg'); background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Amor y Sexo</h2>
            <p class="lead mb-0">
                        <ul class="list-unstyled">
                        <li><i>El Punto G</i></li>
                        <li><i>Kamasutra</i></li>
                        <li><i>El Papel de la Mujer</i></li>
                        <li><i>Besos (Tipos de Besos)</i></li>
                        <li><i>Las posiciones</i></li>
                        <li><i>Sexo Tántrico</i></li>
                        </ul>
            </p>
		  <hr>
		  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h3>EL PAPEL DE LA MUJER</h3>
            <br>
            <p align="justify">
                  En los tiempos en que se escribió el libro el Kamasutra, las mujeres gozaban de cierta libertad. Los lugares comunes de la "esposa fiel" que se encarga de la casa se pueden encontrar en el libro, pero junto a esto existen consejos para la seducción y para la forma de engañar al marido. El matrimonio de las viudas, que más tarde sería prohibido en la India, se describe como aceptable. Las cortesanas son como las geishas japonesas. 
            </p>
            <p align="justify">
                  Tienen un lugar significativo en la sociedad. Serían capaces de obtener grandes sumas por sus artes, que incluye la danza y la música. Fueron las autoridades británicas quienes prohibieron estas "asociaciones de prostitutas" a las cuales la sociedad India generalmente permitía hasta entrar en los templos, donde administraban importantes ofrendas.
            </p>
      </div>
  	</div>
</section>


{% endblock %}