{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-4.jpg'); background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Amor y Sexo</h2>
            <p class="lead mb-0">
                        <ul class="list-unstyled">
                        <li><i>El Punto G</i></li>
                        <li><i>Kamasutra</i></li>
                        <li><i>El Papel de la Mujer</i></li>
                        <li><i>Besos (Tipos de Besos)</i></li>
                        <li><i>Las posiciones</i></li>
                        <li><i>Sexo Tántrico</i></li>
                        </ul>
            </p>
		  <hr>
		  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h3>El Punto G, Mito o realidad?</h3>
		<p align="justify">
			Si usted también, se hace muchas preguntas, aquí tiene donde revisar sus apuntes…
                  No hay duda que usted ha oído hablar del punto G, pero vamos a empezar con un poco de historia.
		</p>
            <br>
            <h3>De donde viene su nombre?</h3>
            <p align="justify">
                  Este famoso centro de placer es un descubrimiento de un sexólogo alemán más bien vanguardista y pionero del científico alemán Ernst Gräfenberg  ginecólogo e investigador, que ha dejado sus iniciales punto G.
            </p>
            <p align="justify">
                  Un descubrimiento que tiene casi 60 años ahora….Las observaciones del Dr. GRAFENBERG han sido confirmadas por  parte de otros investigadores.
            </p>
            <p align="justify">
                  Fue en  1981 que  esta zona se empieza a llamar "punto G".
                  Pero realmente está relacionado exclusivamente  con el sexo, o podríamos hablar de miedos culturales donde el feminismo estaría definido como  las mujeres no necesitan más a los hombres???
            </p>
            <p align="justify">
                  El tema del punto G no hace consenso, varios estudios avalan su existencias y otros su no existencia pero estos están puestos en cuestión.
                  Todo el mundo se pone de acuerdo en decir que la vagina posee zonas, donde la estimulación táctil es intensamente erógena y se puede llegar al orgasmo.  
            </p>

            <br>
            <h3>Como encontrar nuestro punto G?</h3>
            <p align="justify">
                 Eterna pregunta: poner los dedos debajo.
                  Las paredes de la vagina se componen de una multitud de puntos erógenos. Entre ellos se encontraría entonces el punto G (Tejido eréctil situado en la vagina).
            </p>
            <p align="justify">
                  Según recientes estudios, el punto G se sitúa debajo de la vejiga, a mitad de camino entre la entrada y el fondo de la vagina, detrás del hueso del pubis, más o menos  a 4 cm de la entrada. Podemos distinguirlo del resto de la vagina. Sobre las paredes superiores  se nota una zona innegable o estriada sensiblemente  diferentes a las paredes lisas típicas de la vagina.
            </p>
            
            
      </div>
  	</div>
</section>


{% endblock %}