{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-6.jpg'); background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>En Forma</h2>
                        <p class="lead mb-0">
                                    <ul class="list-unstyled">
                                    <li><i>La meditación</i></li>
                                    <li><i>La relajación</i></li>
                                    </ul>
                        </p>
                        <hr>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h3>LA RELAJACION</h3>
		<p align="justify">
		    <b>¿ Que es la relajación? </b>
                  Esta disciplina se une con el cuerpo y su espíritu. Pide una práctica cotidiana. Este entrenamiento es accesible a todo el mundo: no requiere de ninguna actitud física o intelectual particular, no necesita de material ni de vestimenta especial.
                  Una vez tengamos las bases adquiridas, cada uno viene actor autónomo de los cambios de su existencia.  
		</p>
            
            <p align="justify">
               <b>La relajación</b> es una acción cotidiana y natural. Relajación viene del latín  <b><i>relaxatio</i></b> "liberación" en el sentido de " de liberarse en sus obstáculos.”.
            </p>
            <p align="justify">
                  Es una técnica cuya practica puede aportar la armonía entre el cuerpo y el espíritu mediante una relajación física, psíquica y /o muscular.
            </p>
            <p align="justify">
                  En el siglo XIX  relajarse significaba cualquier método activo de relax psico-corporal y de una manera popular, todos los estados de relajación. 
            </p>
            <p align="justify">
                  <b>Destaca sin embargo que en nuestras sociedades actuales, este método de bienestar es de más en más presente. </b>
            </p>
            <p align="justify">
                  <b>¿La relajación:</b> como, para quien y porque? 
            </p>
            <p align="justify">
                  Relajación pero también descanso, meditación, gestión del estrés, armonización, regulación de las emociones…tanto término que llevan en ellos una noción única y esencial.
            </p>
            <p align="justify">
                  ¡¡¡Si su vida diaria le somete a ritmos acelerados,  a unos periodos de estrés, es lo mejor para usted de disfrutar de la relajación rápida!!!
            </p>
            <br>
            <p align="justify">
                  <b>La relajación se dirige a cualquier persona determinada para:</b>
                  - mejorar en frente de las exigencias del mundo profesional y social, al estrés, a las condiciones de trabajo y a la vida familia a veces difíciles.
                  <b>La relajación</b> es una ayuda hacia una  multitud de trastornos muy variados (bien estar general, cansancio, estrés, depresión, dolores, insomnios, trastornos alimentarios...)  
            </p>
            <p align="justify">
                  <b>Los beneficios:</b>
            </p>
            <p align="justify">
                  Les prácticas de relajación tienen como objetivo de relajar el cuerpo de varias maneras, muscularmente, psíquicamente y  fisiológicamente para alcanzar la armonización total. 
            </p>
            <p align="justify">
                  <b>La Relajación</b> es el arte de entrar en  relación con sí mismo, de retomar contacto con su cuerpo, pero también con sus emociones, sus pensamientos y sus creencias. Este estado de relajación y de calma (llamado en sofrología umbral sofro-liminal) permite de resentir, vivir sensaciones positivas y agradables, a fin de re armonizar la unión cuerpo/espíritu.
            </p>
            <p align="justify">
                  El estado de relajación (muscular y mental) ilustra ciclos celébrales llamados "ondas alpha" (en oposición à beta – estado de veille et theta – estado de sueño).  
            </p>
            
            <br>
            <br>
            <h3>Las diferentes técnicas: </h3>
            <p align="justify">
                  <ul>
                        <li> Respiración</li>
                        <li> Masajes</li>
                        <li> Auto hipnosis</li>
                        <li>  Método Vittoz</li>
                        <li> Taining autógena de Schütz</li>
                        <li> Reflexología</li>
                        <li> Relajación progresiva de  Jacobson</li>
                        <li> Relajación coreana</li>
                        <li> Sofrología</li>

                  </ul>
            </p>
      
            </div>
  	</div>
</section>


{% endblock %}