{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-4.jpg');"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Amor y Sexo</h2>
            <p class="lead mb-0">
                        <ul class="list-unstyled">
                        <li><i>El Punto G</i></li>
                        <li><i>Kamasutra</i></li>
                        <li><i>El Papel de la Mujer</i></li>
                        <li><i>Besos (Tipos de Besos)</i></li>
                        <li><i>Las posiciones</i></li>
                        <li><i>Sexo Tántrico</i></li>
                        </ul>
            </p>
		  <hr>
		  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h3>Sexo Tántrico</h3>
		<p align="justify">
			La palabra tantra está compuesta por dos palabras sanscritas « <b><i>tanoti</i></b> »significando « <b>expansión</b> » y « <b><i>trayati</i></b> » significando « <b>liberación</b> ». Este reenvía entonces a la  ciencia de la expansión de la conciencia y de la liberación de la energía. Todo como el Kamasutra, el tantrismo descansa sobre el principio que el cuerpo y el espíritu son indivisibles. 
                  Constituye entonces una práctica de despertar  espiritual incluyendo el acceso al placer físico. Vamos a verlo, esta práctica incluye  técnicas de respiración, y de posturas permitiendo canalizar  la energía sexual « el kundalini ». Dentro de esta filosofía, el propósito íntimo de la relación sexual es de realizar la fusión  del principio entre lo masculino y lo femenino. Kundalini-Shakti es el nombre dado a la energía vital y fundamental, anima a todos los niveles del ser, que sean particulares o universales. Kundalini significa « la lovée ». Esta energía, presente en el individuo, es simbolizada en forma de serpiente que reside en el centro sutil de la base, debajo de la columna vertebral. Esta serpiente es, según dicen enrollada tres veces y media alrededor de   una linga negra (le Svayambhu Linga), su cabeza  descansa, dormida, sobre la cumbre del linga. La práctica de una sexualidad sagrada participa a la transformación interior  capaz de ser llevado al despertar.
		</p>
            <br>
            <h3>Historia</h3>
            <p align="justify">
               El tantrismo sexual coge su fuente en diversos escritos del norte de la India a partir del siglo VII. Su fuente principal es el tantrismo shivaiste (de la Dehesa Shiva) que es tradicionalmente transmitido por mujeres « las yoguis » practicando el yoga. Los tantras son textos que quieren ser la continuación de Veda. Los Veda son  fórmulas de liturgias y de rituales que aparecen en India entre 1500-1000 ac.  y que remontan a una tradición puede que mucho más lejana. No fueron sanscritas antes del octavo siglo de nuestra era. Los tantras se presentan ellos mismos como la enseñanza última ofreciendo los conocimientos del mundo y las prácticas las más puntillosas en el dominio de la espiritualidad.   
            </p>
            <p align="justify">
                  EL tantrismo ha existido siempre, en todas las culturas (alquimistas, medievales, cantos de amor árabes, cortejos amorosos de los trovadores) pero su apogeo se encuentra entre el siglo X y el XII en la India. En Occidente, llegan las practicas espirituales orientales desde la segunda mitad del siglo XX ha permitido el descubrimiento de la meditación y el yoga y de esta sexualidad. Uno de los objeticos del tantrismo es de desarrollar y de canalizar la energía que duerme en nosotros. El acto sexual, llamado « maîthuna » es una de las opciones que contribuye al encuentro de esta energía. El tantrismo permite integrar la sexualidad dentro de un cuadro espiritual.
            </p>
            <br>
            <h3>PRINCIPIOS</h3>
            <p align="justify">
                  La sexualidad tántrica se inspira de una antigua filosofía india. Esta filosofía, el tantrismo, esta esencialmente basada sobre la oposición entre lo femenino y lo masculino. El tantrismo se define así como la búsqueda  de la fusión de esta oposición masculino/femenino para alcanzar un grado superior de  conciencia .En este sentido, la sexualidad es una  de las etapas que llega a este punto. El yoga tántrico es la herramienta que permite de integrar los principios masculinos y femeninos con el fin de alcanzar este estado de conciencia modificado. 
            </p>
            <p align="justify">
            El yoga tántrico constituye la vía sexual.
            El acercamiento de la sexualidad mediante el yoga tántrico abre nuevas visiones y posibilidades de desarrollo equilibrado. La vía espiritual del tantrismo se acerca a la del Tao : permiten que las cosas sean tal y como son, deja las corrientes cósmicas llevar al individuo a su voluntad. 
            </p>
            <p align="justify">
            EL yoga tántrico es un medio de  superar la sexualidad dominada por la acción y la  carrera al orgasmo, para abordar lo místico vivido. Esta potente técnica permite de desarrollar la energía sexual, de hacerla recorrer por el cuerpo y de dirigir la potencia orgásmica hacia el cerebro.
            Gracias a esta técnica, es posible de vivir  dentro de la sexualidad momentos únicos donde el individuo está vinculado con el cosmos.
            </p>
            <br>
            <h3>LA PRÁCTICA</h3>
            <p align="justify">
                El cuerpo siendo percibido como una herramienta maravillosa a nuestra disposición para refinar y transformar la conciencia, se trata de llevar mucho cuidado a lo que se puede hacer conocer. Por consecuencia, los ejercicios prácticos no son reglas para aplicar o bien recetas, pero medios para favorecer, en la pareja, un estado receptivo de “lo que es”. La clave es ser paciente, atento y presente, y de dejarse llevar por las sensaciones y el placer fluir, variar y crecer.
            </p>
            <p align="justify">
            Vuestro estado de ánimo tendrá que ser el más abierto posible, liberado de vuestros pensamientos negativos y de vuestros preocupaciones de la vida cotidiana. La comunicación entre la pareja es igualmente todo también importante y la relación se llevara más amena.
            Tener una plena y satisfactoria relación requiere una cierta preparación mental y física.  
            </p>
            <br>
            <h3>Prepararse con la ayuda de algunos rituales</h3>
            <p align="justify">
                  <b>• El lugar :</b>
                  Acondicionar el lugar como un “espacio sagrado " según sus preferencia con la ayuda de algunos accesorios tal como el incienso, tejidos trapeados, una suave iluminación, velas… La atención debe ser llevada en el lugar en donde se practica el culto del amor tántrico. Este mismo se construye como un pequeño santuario, donde todos los elementos fomentan la concentración, la quietud y el bien estar.
            </p>
            <p align="justify">
                  <b>• El cuerpo :</b>
                  Hacer su aseo personal con cuidado y perfumar ligeramente su cuerpo con la ayuda de cremas hidratantes, de perfumes…sin exageración. El conjunto debe ser sutil.
            </p>
            <p align="justify">
                  <b>• El compañero :</b>
                  Tomar su pareja en consideración: expresarle su disponibilidad por un juego de mirada y su buena disposición. Afilar y estimular sus  5 sentidos observando simplemente a su pareja.
            </p>
            <p align="justify">
                  El contacto así establecido permite la transición por gestos lentos más sensuales hacia preliminares (caricias, juegos amorosos) por ambas partes. Los rituales tántricos del tacto son muy importantes, el cuerpo del otro puede ser apreciado por masajes, con la aplicación de aceites o bien de cremas.
            </p>
            <p align="justify">
                  En la misma práctica de la relación, ciertos principios son fundamentales permitiendo de vivir llenamente la unión.
            </p>
            <br>
            <h3>Las 4 bases fundamentales</h3>
            <p align="justify">
                  <b><u>La respiración:</u></b> piense durante  toda la práctica a respirar profundamente, tranquilamente. Su respiración debe ser siempre profunda, tranquila y relajada
            </p>
            <p align="justify">
                  <b><u>La relajación:</u></b> Relaje su cuerpo y cálmese.  Numerosas pequeñas incidencias sexuales (perdida de erección, frigidez, sequedad vaginal, etc.) desaparecen naturalmente cuando la relajación y la respiración profunda están presente en el acto sexual.
            </p>
            <p align="justify">
                  <b><u>El alejamiento: </u></b> No espere nada, no busque el orgasmo, y practique solo por practicar, para ver hasta donde le lleva la pasión. Practique así con frialdad, en relajación sin objetivo particular.
            </p>
            <p align="justify">
                  <b><u>Lo vivido del aquí y ahora: </u></b> déjese llevar sin imaginar lo que sea. Dejarse llevar con el fin de una unión total con la pareja.
            </p>
            <br>
            <h3>Prolongar el placer</h3>
            <p align="justify">
                  Según el tantra, la eyaculación está considerada como una pérdida de esencia vital, así  no está limitada a la procreación. Se trata de mantener el más tiempo posible el estado próximo al orgasmo, retrasándolo siempre. Identifique el momento que precede el orgasmo, y relájese ralentizando su respiración o bien cambiando de posición, para parar los picos de placer. El hombre puede así alcanzar el orgasmo sin eyacular, lo que permite de prolongar el coito. Estas relaciones lentas y no-orgásmicas tienen por fin de  aprender a controlar la energía sexual.
            </p>
            <p align="justify">
                  Cada miembro de la pareja debe cuidar a ayudar al otro en su control. Controlando la subida hacia el orgasmo, el placer será aún más intenso
            </p>
      </div>
  	</div>
</section>


{% endblock %}