{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg'); background-size: 100% 100%;"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Tu Signo en Astrología</h2>
	          <p class="lead mb-0">
	          	<ul class="list-unstyled">
	          		<li><i>Los signos del Zodiaco</i></li>
	          		<li><i>Características de los Signos Zodiacales</i></li>
				</ul>
	          </p>
		  <hr>
		  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<p>
      		<h2>
      			Para una noche o por la vida no sería una cuestión de compatibilidad entre signos?
      		</h2>
      		<p align="justify">
      			La astrología es probablemente la más antigua herramienta de la historia de la humanidad.
				Nuestro signo zodiacal, se calcula a partir  de nuestra fecha de nacimiento, y más detenidamente se determina por la constelación del zodíaco en el que aparece el sol (como se ve desde la Tierra) en el momento de nuestro nacimiento. Permite  definir una parte del carácter de cada individuo.
      		</p>
      		<br>
      		<b>Información general</b>
      		<p align="justify">
      			<b>A continuación encontrarás una tabla que muestra los diferentes signos de acuerdo a la fecha de nacimiento. 
      		</p>
      		<br>
      		<ul>
      			<li>Aries: 21 de marzo a 19 de abril</li>
      			<li>Toro: 20 de abril a 20 de mayo</li>
      			<li>Géminis: 21 de mayo a 21 de junio</li>
      			<li>Cáncer: 22 de junio a 22 de julio</li>
      			<li>Leo: 23 de julio a 22 de agosto</li>
      			<li>Virgo: 23 de agosto a 22 de septiembre</li>
      			<li>Libra: 23 de septiembre a 22 de octubre</li>
      			<li>Escorpio: 23 de octubre a 21de noviembre</li>
      			<li>Sagitario: 22 de noviembre a 21 de diciembre</li>
      			<li>Capricornio: 22 de diciembre a 19 de enero</li>
      			<li>Acuario: 20 de enero a 18 de febrero</li>
      			<li>Piscis: 19 de febrero a 20 de marzo  </li>
      		</ul>
      	</p>
      </div>
  	</div>
</section>


{% endblock %}