{% extends 'base.html.twig' %}

{% block title %}Horoscopo{% endblock %}

{% block body %}

<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 order-lg-1 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-8 order-lg-2 my-auto showcase-text">
          <h2>Tu Signo en Astrología</h2>
	          <p class="lead mb-0">
	          	<ul class="list-unstyled">
	          		<li><i>Los signos del Zodiaco</i></li>
	          		<li><i>Características de los Signos Zodiacales</i></li>
				</ul>
	          </p>
		  <hr>
		  <p>Los doce signos forman un círculo de 360 grados sobre el cual los astrólogos realizan su trabajo. Cada uno de los signos está dividido a su vez en tres partes iguales de 10 grados llamados decanatos. Un decanato corresponde pues a un periodo de días </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-lg-12" >
      	<h1>TU SIGNO EN ASTROLOGÍA</h1>
      	<p>
      		<h3>
      			Para una noche o por la vida no sería una cuestión de compatibilidad entre signos?
      		</h3>
      		<p align="justify">
      			La astrología es probablemente la más antigua herramienta de la historia de la humanidad.
				Nuestro signo zodiacal, se calcula a partir  de nuestra fecha de nacimiento, y más detenidamente se determina por la constelación del zodíaco en el que aparece el sol (como se ve desde la Tierra) en el momento de nuestro nacimiento. Permite  definir una parte del carácter de cada individuo.
      		</p>
      		<br>
      		<b>Información general</b>
      		<p align="justify">
      			<b>A continuación encontrarás una tabla que muestra los diferentes signos de acuerdo a la fecha de nacimiento. 
      		</p>
      		<br>
      		<ul>
      			<li>Aries: 21 de marzo a 19 de abril</li>
      			<li>Toro: 20 de abril a 20 de mayo</li>
      			<li>Géminis: 21 de mayo a 21 de junio</li>
      			<li>Cáncer: 22 de junio a 22 de julio</li>
      			<li>Leo: 23 de julio a 22 de agosto</li>
      			<li>Virgo: 23 de agosto a 22 de septiembre</li>
      			<li>Libra: 23 de septiembre a 22 de octubre</li>
      			<li>Escorpio: 23 de octubre a 21de noviembre</li>
      			<li>Sagitario: 22 de noviembre a 21 de diciembre</li>
      			<li>Capricornio: 22 de diciembre a 19 de enero</li>
      			<li>Acuario: 20 de enero a 18 de febrero</li>
      			<li>Piscis: 19 de febrero a 20 de marzo  </li>
      		</ul>
      		<h3>Características de los Signos del Zodiaco</h3>
      		<br>
      		<b>ARIES – El bravo</b>
      		<p align="justify">
      			Alegre, testarudo, impaciente, extrovertido, impulsivo, dinámico...
				En Negocios así como en la Amistad, Aries se lleva bien con casi todo el mundo.
				A Aries le gusta ser el primero, es un líder. Valiente y seguro de sí mismo.
				Enérgico. Aventurero y espontáneo. Confiado y entusiasta. Gracioso. Gustoso por los desafíos. Extremadamente impaciente. A veces egoísta. Se enoja fácilmente. Sensible, apasionado y vivo de espíritu. Pierde interés rápidamente... se aburre fácilmente.
				Valiente y confiado. En general, Aries no son complicados y cuando sea necesario,   tienen la capacidad de perdonar a los que les han hecho daño.
				Se le da bien la actividad física y es bastante atlético.
      		</p>
      		<br>
      		<b>Tauro - El Inconmovible</b>
      		<p align="justify">
      			Tauro es alguien calmado, un encantador...
				A él le gusta una base sólida y no le gusta las prisas. Puede parecer aburrido pero no es en absoluto así. Es trabajador. Tiene un corazón cálido. Es fuerte, y tiene resistencia.
				Es sólido, estable y fiable en lo que hace. No busca atajos. Orgulloso de su belleza. Paciente y digno de confianza.
				Es un muy buen amigo y da un buen consejo. Es cariñoso y amable. Ama de verdad y apasionadamente. Expresa sus emociones. Es propenso a un temperamento feroz. Determinado. Indulgente con el mismo.
				El Tauro es muy generoso.
				A diferencia de Aries que siempre quiere ser el primero, Tauro acepta fácilmente llegar en un segundo plano.
      		</p>
      		<br>
      		<b>Géminis– El elegante</b>
      		<p align="justify">
      			Elegante e ingenioso. Sobre cualquier cosa, muy hablador. Feliz, lleno de energía.
				El Géminis se adapta fácilmente pero  tiene necesidad de expresarse. Filosófico y franco.
				Le gusta el cambio. Versátil. Una persona siempre ocupada, a veces se enoja fácilmente y se pone tenso. Cotilla. Puede a veces mostrarse contradictorio pero su objetivo es simplemente incierto.
				El nativo géminis es guapo físicamente y mentalmente.
				La compañía de Géminis es por lo general agradable, ya que son gentes siempre interesantes con una gran facilidad de comunicación.
				La verdad es que Géminis odia el aburrimiento y aburrir: si algo le molesta o le aburre, tratará seguramente de huir.
      		</p>
      		<br>
      		<b>CÁNCER – El protector</b>
      		<p align="justify">
      			Cáncer está  muy motivado por las grandes causas, su sueño es estar disponible y presente para que las cosas sucedan y para hacer lo mejor para el mundo, que quiere ver como un lugar mejor.
				Prefiere solucionar los conflictos por el razonamiento que por la fuerza.
				Sensible. Puede ser tímido. Muy cariñoso y atento.Guapo físicamente.
				El cáncer es un excelente hincha de la vida. Protector. Creativo  e imaginativo. Prudente. Susceptible. Necesita el amor de los demás.
				Se hiere con facilidad, pero es muy simpático. Dulce, lento a la hora de la reflexión, pero una vez que el Cáncer ha decidido la dirección que quiere tomar, nada ni nadie puede hacer cambios en su mente. Prefiere vivir en el campo que vivir en el caos de la ciudad. La vida urbana refuerza la inseguridad que el resienta.
      		</p>
      		<br>
      		<b>LEO – El patrón</b>
      		<p align="justify">
      			El jefe del grupo.
				Sin ninguna duda, le encanta dirigir. Por lo menos, lo expresa muy a menudo. Muy bien organizado. A Leo le gusta el orden en su vida. Le gusta tener el control. Aspira al éxito y a la gloria. Es conocido por su lealtad y su lado agradable, pero puede apuntar a veces a presentar muestras de enfado si no está satisfecho. Mantiene su lado infantil para toda la vida y con frecuencia no tiene ningún deseo de crecer. Le gustan los extremos.
				Tiende a hablar de cualquier cosa. Es autoritario. Le gusta ayudar a los demás. Es sociable y predispuesto a todo. Extrovertido. Generoso y de corazón caliente. Sensible. Posee energía creativa.
				El nativo de Leo se confía poco, no expresa fácilmente sus sentimientos. Encantador, Ambicioso y creativo, persigue el éxito y el prestigio social.
      		</p>
      		<br>
      		<b>VIRGO - El Realista</b>
      		<p align="justify">
      			El nativo Virgo es considerado generalmente uno de los mayores privilegiados del zodiaco. Tiene un gran sentido del sacrificio y están dispuestos a dedicar su vida a ayudar a los otros dando lo mejor de sí.
				Dominante en sus relaciones. Conservador. Constante, paciente, tenaz, resistente, perseverante, fuerte, comprometido, sensual, estable, concreto, realista, regular, leal, robusto, constructivo, tenaz, el nativo virgo tiene una fuerte necesidad de seguridad. Filosóficos.  Ansiosos.
				Muy elegante. Odia el ruido y el caos. Apasionado. Trabajador. Leal.
				El virgo es metódico y le gusta hacer las cosas bien. Resuelve de una manera óptima cualquier problema con sus capacidades prácticas. Pragmático. A menudo tímido. El nativo virgo  tiene sin embargo el privilegio de parecer más joven de lo que es.
      		</p>
      		<br>
      		<b>LIBRA – El romántico</b>
      		<p align="justify">
      			El signo de Libra es sentimental, educado, delicado, refinado, leal, pacifista, justo, distinguido. Los nativos Libra son excelentes diplomáticos, ligeros, románticos, cultos  y agradable.
				És amable con todos los que se relaciona. Puede disfrazar su espíritu. Tiene un encanto único propio. El nativo Libra adora la limpieza, el orden y detesta la vulgaridad, la suciedad y la fealdad de cualquier forma.
				El refinamiento y la hermosura son fundamentales en todos los aspectos de su vida. Creativo, energético y muy sociable. Libra odia estar solo. Pacifista. Generoso. Guapo y muy cariñoso. Deja con demasiada facilidad. Postergado. Muy ingenuo.Casi siempre preocupado por los demás, este individuo es la encarnación misma del comportamiento altruista.
      		</p>
      		<br>
      		<b>Escorpio – El extremista</b>
      		<p align="justify">
      			Escorpio es secreto, poderoso, dominante, resistente, intuitivo, asertivo, carismático, magnético, voluntario, audaz, perspicaz, apasionado, creativo, independiente y vigoroso.
				El nativo Escorpio es cerebral, perspicaz, tiene buen ojo para los detalles y los números, analítico, serio, competente, puntilloso, púdico.
				Demasiados obstáculos derrotaran a esta persona sensible.
				Lleno de sentido común, ordenado, organizado, limpio, aplicado, precavido, honesto, el nativo Escorpio es fiel. Muy enérgico. Inteligente. Puede ser celoso y/o posesivo. Trabajador. Atractivo. Determinado. Ama las relaciones a largo plazo. Hablador. Romántico. Puede ser egocéntrico en ciertos momentos.
      		</p>
      		<br>
      		<b>Sagitario – El despreocupado</b>
      		<p align="justify">
      			Bueno y  optimista por naturaleza. No quiere crecer (síndrome de Peter Pan). Psicológicamente, el nativo sagitario tiene una naturaleza soñadora, enfocando hacia la nostalgia por el pasado, por su madre, por la familia: el Sagitario puede ser muy autoindulgente.
				Ama el lujo y las apuestas. Sociable y dispuesto a participar.
				El nativo Sagitario no le gusta las responsabilidades. A menudo es caprichoso. Impaciente. Tiene un montón de amigos. Galante. No le gustan las reglas. Odia estar confinado. Los espacios reducidos o incluso en ropa ajustada no le gustan.
				No le gusta que la gente dude de él. Guapo por dentro y por fuera.  Tiene una gran energía, optimismo nato y un coraje inquebrantable. Eso lo empuja a arriesgar y a intentar hacer prácticamente todo lo que quiere.
      		</p>
      		<br>
      		<b>Capricornio – El luchador</b>
      		<p align="justify">
      			El nativo Capricornio es sincero en el comportamiento, no soporta el engaño y es una persona que tiene un gran espíritu de sacrificio.
				Un jefe temible con mucha luz es una imagen bastante agradable.
				Paciente y sabio. Pragmático y rígido. Ambicioso. Tiende a ser hermoso. Humorístico y divertido. Tal vez un poco tímido y reservado. A menudo pesimista.
				Tiene tendencia a actuar antes de pensar y puede ser frío a veces. Rencoroso. Ama la competición. Siempre obtiene lo que quiere. Sin embargo, si el nativo Capricornio es de carácter autoritario, su actitud por lo general no está basada en la maldad pero más bien llena de bondad.
      		</p>
      		<br>
      		<b>Acuario – El soñador</b>
      		<p align="justify">
      			El nativo Acuario puede ser muy inteligente. La parte mental de las cosas viene antes de la física y de la de los sentimientos: esta es una de las claves esenciales para entender la naturaleza del nativo Acuario.
				En principio, el nativo de este signo está dotado en numerosas cosas porque tiene una gran inteligencia y sabe cómo usarla para conseguir lo que quiere.
				Los nativos Acuario son a veces distraídos por su emotividad.
				Generoso, amable y pensativo. Quiere siempre pagar por sus seres queridos.
				Muy creativo e imaginativo. Puede volverse reservado e indeciso. Sensible. No le gusta y dar importancia a los detalles. Soñador y realista. Amable y cariñoso.
				Estos nativos son sinceramente convencidos que no pertenecen al mundo normal.
      		</p>
      		<br>
      		<b>Piscis – El adorable</b>
      		<p align="justify">
      			Optimista y honesto. Personalidad dulce. Muy independiente.
				 En el amor, el nativo piscis idealiza a su pareja y cuando él o ella la encuentran, se apresurará a tomar la relación más seria hasta casarse. Inventivo e inteligente. Simpático y leal. Puede parecer a veces insensible. Puede tener una vena rebelde. Muy terco, pero se foca mucho en su propósito original y tiene un encanto interior  y exterior único.
				Los piscianos  parecen despreocupados pero es solo una máscara  ocultando una persona muy emocional. 
				Piscis no aprecia cualquier injusticia hacia otros y toma de una manera espontánea su defensa. El buen humor reinara absolutamente tanto tiempo que este ser impetuoso estará rodeado del ambiente que quisiera sentir perdurar. 
      		</p>


      		
      	</p>
      </div>
  	</div>
</section>


{% endblock %}